extends layouts/main
include mixins/videoBlock

block content 
    .search__header
        h3 Searching for: #{searchingBy}
    .search__vieos 
        each videoItem in videosFiles 
            +videoBlock({
                title: videoItem.title,
                views: videoItem.views,
                videoFile: videoItem.videofile
            })